schemas/mail-1.1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:ietf:params:xml:ns:autoconfig:mail-1.1" xmlns="urn:ietf:params:xml:ns:autoconfig:mail-1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="clientConfig">
        <xs:complexType>
            <xs:all>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="documentation" type="documentationOrInstructionType">
                    <xs:annotation>
                        <xs:documentation>XSD 1.1 required, because attribute "maxOccurs" is "unbounded".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="emailProvider">
                    <xs:complexType>
                        <xs:all>
                            <xs:element minOccurs="0" name="displayName" type="xs:string" />
                            <xs:element minOccurs="0" name="displayShortName" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="domain">
                                <xs:annotation>
                                    <xs:documentation>XSD 1.1 required, because attribute "maxOccurs" is "unbounded".</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[a-zA-Z0-9\-.%]+" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" name="incomingServer">
                                <xs:annotation>
                                    <xs:documentation>XSD 1.1 required, because attribute "maxOccurs" is "unbounded".</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="hostname">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="[a-zA-Z0-9\-.%]+" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="port">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                    <xs:minInclusive value="1" />
                                                    <xs:maxInclusive value="65535" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="username" type="xs:string" />
                                        <xs:element maxOccurs="unbounded" name="authentication">
                                            <xs:annotation>
                                                <xs:documentation>XSD 1.1 required, because attribute "maxOccurs" is "unbounded".</xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="plain" />
                                                    <xs:enumeration value="secure" />
                                                    <xs:enumeration value="password-cleartext" />
                                                    <xs:enumeration value="password-encrypted" />
                                                    <xs:enumeration value="OAuth2" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="socketType">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="plain" />
                                                    <xs:enumeration value="SSL" />
                                                    <xs:enumeration value="STARTTLS" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="pop3">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element minOccurs="0" name="leaveMessagesOnServer" type="xs:boolean" />
                                                    <xs:element minOccurs="0" name="daysToLeaveMessagesOnServer" type="xs:integer" />
                                                    <xs:element minOccurs="0" name="checkInterval">
                                                        <xs:complexType>
                                                            <xs:attribute name="minutes" type="xs:positiveInteger" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:all>
                                    <xs:attribute name="type" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="imap" />
                                                <xs:enumeration value="nntp" />
                                                <xs:enumeration value="pop3" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" name="outgoingServer">
                                <xs:annotation>
                                    <xs:documentation>XSD 1.1 required, because attribute "maxOccurs" is "unbounded".</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="hostname">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="[a-zA-Z0-9\-.%]+" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="port">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                    <xs:minInclusive value="1" />
                                                    <xs:maxInclusive value="65535" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="username" type="xs:string" />
                                        <xs:element name="socketType">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="plain" />
                                                    <xs:enumeration value="SSL" />
                                                    <xs:enumeration value="STARTTLS" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" name="authentication">
                                            <xs:annotation>
                                                <xs:documentation>XSD 1.1 required, because attribute "maxOccurs" is "unbounded".</xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="none" />
                                                    <xs:enumeration value="plain" />
                                                    <xs:enumeration value="secure" />
                                                    <xs:enumeration value="smtp-after-pop" />
                                                    <xs:enumeration value="password-cleartext" />
                                                    <xs:enumeration value="password-encrypted" />
                                                    <xs:enumeration value="OAuth2" />
                                                    <xs:enumeration value="client-IP-address" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="restriction" type="xs:string" />
                                        <xs:element minOccurs="0" name="addThisServer" type="xs:boolean" />
                                        <xs:element minOccurs="0" name="useGlobalPreferredServer" type="xs:boolean" />
                                    </xs:all>
                                    <xs:attribute name="type" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="smtp" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="inputField">
                                <xs:annotation>
                                    <xs:documentation>XSD 1.1 required, because attribute "maxOccurs" is "unbounded".</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:attribute name="key" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="[a-zA-Z0-9\-_]+" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="label" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="enable">
                                <xs:annotation>
                                    <xs:documentation>XSD 1.1 required, because attribute "maxOccurs" is "unbounded".</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="instruction" type="descriptionOrEnableInstructionType">
                                            <xs:annotation>
                                                <xs:documentation>XSD 1.1 required, because attribute "maxOccurs" is "unbounded".</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:all>
                                    <xs:attribute name="url" type="xs:string" />
                                    <xs:attribute name="visiturl" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="documentation" type="documentationOrInstructionType">
                                <xs:annotation>
                                    <xs:documentation>XSD 1.1 required, because attribute "maxOccurs" is "unbounded".</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="instruction" type="documentationOrInstructionType">
                                <xs:annotation>
                                    <xs:documentation>XSD 1.1 required, because attribute "maxOccurs" is "unbounded".</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:all>
                        <xs:attribute name="id" type="xs:string" />
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="webMail">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="loginPage">
                                <xs:complexType>
                                    <xs:attribute name="url" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="loginPageInfo">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="username" type="xs:string" />
                                        <xs:element name="usernameField">
                                            <xs:complexType>
                                                <xs:attribute name="id" />
                                                <xs:attribute name="name" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="passwordField">
                                            <xs:complexType>
                                                <xs:attribute name="id" />
                                                <xs:attribute name="name" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="loginButton">
                                            <xs:complexType>
                                                <xs:attribute name="id" />
                                                <xs:attribute name="name" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:all>
                                    <xs:attribute name="url" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:all>
            <xs:attribute fixed="1.1" name="version" use="required" />
        </xs:complexType>
    </xs:element>
    <xs:complexType name="documentationOrInstructionType">
        <xs:all>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="descr" type="descriptionOrEnableInstructionType">
                <xs:annotation>
                    <xs:documentation>XSD 1.1 required, because attribute "maxOccurs" is "unbounded".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
        <xs:attribute name="url" type="xs:string" use="required" />
    </xs:complexType>
    <xs:complexType name="descriptionOrEnableInstructionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="lang"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>